.button_actions {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.button_actions .btn_base {
  height: 58px;
  line-height: 58px;
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #f7941d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border-radius: 7px;
  border: none;
  float: left;
  min-width: 214px;
}
@media (max-width: 767px) {
  .button_actions .btn_base {
    min-width: 100%;
  }
}
.button_actions .btn_base:disabled {
  padding: 0 40px !important;
  margin-right: 0px;
  border: 0;
  color: #000;
  font-weight: bold;
}
.button_actions .btn_base:disabled:before {
  display: none;
}
.button_actions .btn_base:disabled:hover {
  background: #444;
  color: #fff;
}
.button_actions .btn_base:first-child {
  margin-right: 10px;
  padding: 0 40px 0 60px;
  text-transform: none;
}
.button_actions .btn_base:first-child:before {
  content: "";
  height: 29px;
  width: 29px;
  background-image: url(i-shopping-cartaaa9.svg?1677902836794);
  background-size: contain;
  background-repeat: no-repeat;
  top: 14px;
  left: 25px;
  position: absolute;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .button_actions .btn_base:first-child:before {
    left: 28px;
  }
}
.button_actions .btn_base:hover {
  background: #444;
  cursor: pointer;
  border-color: #444;
}
.button_actions .btn_base.fast {
  background: #f7941d;
  color: #fff;
}
@media (max-width: 767px) {
  .button_actions .btn_base.fast {
    margin-top: 15px;
  }
}
.button_actions .btn_base.fast:hover {
  color: #fff;
  background: #2b2b2b;
  cursor: pointer;
  border-color: #444;
}
@media (max-width: 767px) {
  .button_actions .btn_base {
    width: 100%;
  }
}
.button_actions .btn_add_cart {
  position: relative;
}
.button_actions .btn_add_cart .text_1 {
  position: relative;
}
.button_cart_buy_enable,
.button_cart_buy_disable {
  height: 40px;
  line-height: 40px;
  width: auto;
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  float: left;
  position: relative;
}
@media (max-width: 767px) {
  .button_cart_buy_enable,
  .button_cart_buy_disable {
    font-size: 14px !important;
  }
}
.button_cart_buy_enable span,
.button_cart_buy_disable span {
  font-size: 14px;
}
.button_cart_buy_enable .fa,
.button_cart_buy_disable .fa {
  font-size: 20px;
  padding: 20px 22px 23px;
  position: absolute;
  left: 0;
  top: -1px;
  background: #059b3a;
  border-radius: 3px;
}
.button_cart_buy_enable {
  background: #444;
  position: relative;
}
.button_cart_buy_enable:hover {
  background: #444;
  border-color: #444;
  color: #fff;
}
.button_cart_buy_enable:hover .fa {
  color: #fff;
}
.button_cart_buy_disable {
  background: rgba(255, 65, 87, 0.51);
  width: 100%;
}
.form-group .custom-btn-number {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.form-group .custom-btn-number .sl {
  font-weight: 400;
  display: inline-block;
  float: left;
  line-height: 35px;
  min-width: 100px;
  color: #666;
  font-size: 16px;
}
.form-group .input_number_product {
  display: inline-flex;
  width: 60px;
  height: 45px;
  min-height: 45px;
  position: relative;
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0;
  float: none;
}
.form-group .input_number_product .btn_num {
  font-size: 17px;
  line-height: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: transparent;
  float: left;
  color: #898989;
  text-align: center;
  padding: 0px;
  border: 0;
  padding-right: 0px;
  position: absolute;
  top: 0;
  outline: none;
}
.form-group .input_number_product .btn_num svg {
  width: 10px;
  height: 10px;
}
.form-group .input_number_product .btn_num.num_1 {
  right: 0;
  top: auto;
  bottom: 0;
}
.form-group .input_number_product .btn_num.num_2 {
  right: 0;
  top: 0;
  line-height: 30px;
}
.form-group .input_number_product .btn_num:hover {
  cursor: pointer;
}
.form-group .input_number_product input {
  display: block;
  float: left;
  color: #6b6b6b;
  height: 45px;
  min-height: 45px;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px 25px 5px 5px;
  text-align: center;
  box-shadow: none;
  font-size: 14px;
  font-family: "Niramit", sans-serif;
  margin: 0;
  border-radius: 5px;
}
.form-product {
  padding: 0px;
  margin-bottom: 0;
}
.form-product .form_button_details {
  width: 100%;
  float: left;
}
.form-product .form_button_details header {
  width: 85px;
  float: left;
  line-height: 40px;
  font-size: 14px;
  color: #636363;
}
.form-product form {
  margin-bottom: 15px;
}
.box-variant .form-group {
  width: 100%;
  display: block;
}
.box-variant .form-group .selector-wrapper {
  margin-bottom: 15px !important;
  width: 100%;
  float: left;
}
.box-variant .form-group .selector-wrapper label {
  font-weight: 400;
  width: 100px;
  font-size: 14px;
  float: left;
  color: #6b6b6b;
  line-height: 40px;
}
.box-variant .form-group .selector-wrapper .single-option-selector {
  height: 40px;
  border-radius: 0;
  border-color: #eaebf3;
  width: 200px;
  float: left;
}
.details-pro .swatch {
  margin: 15px 0 0;
}
.details-pro .swatch:first-child {
  border-bottom: none;
}
.details-pro .form-product {
  padding-top: 0px;
}
.details-pro .form-product .swatch .header {
  display: inline-block;
  line-height: 40px;
  float: left;
  width: 100px;
  font-size: 17px;
  color: #6b6b6b;
  font-weight: 400;
  text-transform: none;
  font-family: "Niramit", sans-serif;
}
@media (max-width: 374px) {
  .details-pro .danhgiasp {
    float: left;
    width: 100%;
  }
}
.details-pro .danhgiasp a {
  color: #333;
  font-weight: 400;
  text-decoration: underline;
}
.details-pro .danhgiasp a:hover {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}
.details-pro .danhgiasao {
  position: relative;
  display: inline-block;
}
.details-pro .danhgiasao .text_bold {
  font-weight: bold;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.details-pro .danhgiasao .sapo-product-reviews-badge {
  float: left;
  padding: 0 10px 0 0;
}
.details-pro .danhgiasao img {
  display: none;
}
.details-pro .sapo-product-reviews-badge {
  margin: 0px auto;
  padding: 0px;
}
.details-pro .sapo-product-reviews-badge .sapo-product-reviews-star {
  line-height: 23px;
}
.details-pro .sapo-product-reviews-badge .sapo-product-reviews-star i {
  font-size: 14px;
}
.details-pro .sapo-product-reviews-badge div img {
  display: none;
}
.details-pro .sapo-product-reviews-badge div p {
  font-size: 13px;
  color: #7b7b7b;
}
.details-pro .group-status {
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}
.details-pro .group-status .first_status {
  display: block;
  font-family: "Niramit", sans-serif;
  position: relative;
  font-size: 17px;
  margin: 0;
  color: #576a7e;
  font-weight: 400;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .details-pro .group-status .first_status {
    display: block;
  }
}
.details-pro .group-status .first_status .status_name {
  font-family: "Niramit", sans-serif;
  font-weight: bold;
  color: #2a3e55;
}
.details-pro .group-status .first_status.status_2 .status_name {
  text-transform: uppercase;
  color: #fe9614 !important;
  font-family: "Niramit", sans-serif;
  font-weight: bold;
}
@media (max-width: 767px) {
  .details-pro .group-status .line {
    display: none;
  }
}
.details-pro .product-summary {
  padding: 10px 0;
}
.details-pro .product-summary .rte {
  font-family: "Niramit", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #6b6b6b;
}
.details-pro .product-summary .rte p {
  margin: 0;
}
.details-pro .product-summary .rte ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.details-pro .product-summary .rte ol {
  padding-left: 17px;
}
.details-pro .product-summary .rte img {
  display: none;
}
.details-pro .soluong {
  display: inline-block;
  float: left;
}
@media (max-width: 767px) {
  .details-pro .soluong {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
}
.details-pro .soluong .sl {
  float: left;
  line-height: 35px;
  min-width: 100px;
  color: #576a7e;
  font-size: 17px;
}
.details-pro .soluong label {
  margin: 0;
  line-height: 40px;
  display: block !important;
  font-family: "Niramit", sans-serif;
  font-size: 15px;
}
.details-pro .form_product_content {
  width: 100%;
  float: left;
  margin-top: 20px;
  padding-bottom: 20px;
}
.details-pro .form_product_content .label_sl {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  display: inline-block;
  float: left;
  line-height: 35px;
  margin-right: 20px;
  font-size: 14px;
}
.details-pro .social-sharing {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 10px;
  padding: 15px 0 10px;
  width: 100%;
  float: left;
}
.details-pro .tag-product {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.details-pro .tag-product .inline-tag {
  padding-right: 5px;
  padding-top: 3px;
  display: inline-block;
  float: left;
}
.details-pro .tag-product .inline-tag svg {
  width: 16px;
  height: 16px;
}
@media (min-width: 992px) {
  .details-product .product-detail-left {
    padding: 0 70px 0 75px;
  }
}
.details-product .large-image {
  text-align: center;
  width: 100%;
}
.details-product .large-image a {
  justify-content: center;
  display: flex;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -os-justify-content: center;
  -o-display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -os-display: flex;
  align-items: center;
  min-height: 475px;
  border: 1px solid #ebebeb;
}
@media (max-width: 767px) {
  .details-product .large-image a {
    min-height: 285px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .details-product .large-image a {
    min-height: 590px;
  }
}
.details-product .large-image a img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
  position: relative !important;
}
.details-product .tab_h {
  display: block;
  width: 100%;
  float: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .details-product .tab_h {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .details-product .details-pro {
    margin-top: 30px;
  }
}
.details-product .details-pro .product-price {
  font-size: 36px;
  color: #f7941d;
  line-height: 30px;
  font-family: "Niramit", sans-serif;
  font-weight: bold;
}
@media (max-width: 767px) {
  .details-product .details-pro .product-price {
    font-size: 26px;
  }
}
.details-product .details-pro .price-box {
  margin: 0px 0 10px;
}
@media (max-width: 767px) {
  .details-product .details-pro .price-box {
    margin: 0;
  }
}
.details-product .details-pro .price-box .special-price {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .details-product .details-pro .price-box .special-price {
    margin: 10px 0;
  }
}
.details-product .details-pro .price-box .old-price {
  color: #576a7e;
}
.details-product .details-pro .price-box .save-price {
  transform: skew(-15deg);
  background: #1e93ff;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 0px 7px;
  margin-left: 10px;
}
.details-product .details-pro .price-box .save-price .discount_ {
  transform: skew(15deg);
  display: inline-block;
  color: #fff;
}
.details-product .details-pro .price-box del {
  display: inline-block;
  font-family: "Niramit", sans-serif;
  color: #576a7e;
  font-size: 17px;
  margin-left: 5px;
}
#quick-view-product {
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0 !important;
  z-index: 9999;
}
#quick-view-product .details-product {
  width: 100%;
  float: left;
}
#quick-view-product .available {
  margin: 0;
  font-weight: 400;
}
#quick-view-product .available.outstock {
  color: #e55e5e;
}
#quick-view-product .head-qv {
  margin: 0;
}
#quick-view-product .head-qv .vend-qv {
  overflow: hidden;
  margin-bottom: 5px;
}
#quick-view-product .head-qv .vend-qv .left_vend .loaisp {
  color: #444;
  margin-right: 15px;
}
#quick-view-product .head-qv .vend-qv .left_vend .line_tt {
  margin: 0 5px;
}
#quick-view-product .head-qv .vend-qv .hangsx,
#quick-view-product .head-qv .vend-qv .soluong {
  font-size: 14px;
  color: #969696;
}
#quick-view-product .head-qv .vend-qv .hangsx .name_ven,
#quick-view-product .head-qv .vend-qv .soluong .name_ven {
  color: #969696;
  margin-right: 15px;
}
#quick-view-product .head-qv .vend-qv .hangsx a,
#quick-view-product .head-qv .vend-qv .soluong a {
  color: #969696;
}
#quick-view-product .head-qv .vend-qv .soluong {
  color: #444;
}
#quick-view-product .head-qv .vend-qv .share_product_qv {
  display: inline;
  margin: 0;
  list-style: none;
  float: left;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .block-share-cs {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px;
  margin-right: 5px;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .block-share-cs a .fa {
  font-size: 14px;
  color: #fff;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .block-share-cs:hover {
  color: #444;
  border: solid 1px #444;
  background: #fff;
}
#quick-view-product
  .head-qv
  .vend-qv
  .share_product_qv
  .block-share-cs:hover
  .fa {
  color: #444;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .fb {
  background: #3b5998;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .googleplus {
  background: #dc4e41;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .tw {
  background: #1da1f2;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .pintrest {
  background: #cb2027;
}
#quick-view-product .head-qv .vend-qv .share_product_qv .linkedin {
  background: #324c83;
}
#quick-view-product h3 {
  margin: 0 0 15px;
}
#quick-view-product .qwp-name {
  font-family: "Niramit", sans-serif;
  margin: 0px 0 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #333;
}
#quick-view-product .qwp-name a {
  color: #6b6b6b;
}
#quick-view-product .qwp-name:hover > a {
  text-decoration: none;
  color: #444;
}
#quick-view-product .product-images .img_02 {
  margin: 0 auto;
}
#quick-view-product .product-images .col_thumbs_visible {
  width: 100%;
  display: block;
  float: left;
  position: relative;
}
#quick-view-product .product-images .col_large_default {
  text-align: center;
  display: block;
  float: left;
  border: solid 1px #ebebeb;
  margin-bottom: 0px;
  width: 100%;
  float: left;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #quick-view-product .product-images .col_large_fix1img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #quick-view-product .product-images .col_large_fix1img {
    width: 100%;
  }
}
#quick-view-product .product-images .col_large_full {
  padding: 0px;
}
#quick-view-product .product-images .large-image a {
  display: block;
}
@media (min-width: 1200px) {
  #quick-view-product .product-images .large-image a {
    height: 455px;
    min-height: 455px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #quick-view-product .product-images .large-image a {
    height: 300px !important;
  }
}
@media (max-width: 991px) {
  #quick-view-product .product-images .large-image a {
    height: auto !important;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #quick-view-product .product-images .large-image a {
    height: 555px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
@media (max-width: 767px) {
  #quick-view-product .product-images .large-image a {
    margin-bottom: 15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
#quick-view-product .product-images .large-image a .zoomWrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}
#quick-view-product .product-images .large-image a img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
  position: relative !important;
}
#quick-view-product .more-view-wrapper.clearfix {
  width: 100%;
  float: left;
}
#quick-view-product .more-view-wrapper.clearfix .owl-dots {
  display: none;
}
#quick-view-product .product-images .img_02 {
  margin: 0 auto;
}
#quick-view-product .product-images .col_large_default {
  text-align: center;
  display: block;
  float: left;
  border: solid 1px #ebebeb;
}
#quick-view-product .product-images .col_large_full {
  padding: 0px;
}
#quick-view-product .product-images .large-image {
  padding: 0px 0px 0px 0px;
}
#quick-view-product .product-images .large-image a {
  border: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  #quick-view-product .product-images .large-image a {
    height: 460px;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
@media (min-width: 1200px) {
  #quick-view-product .product-images .large-image {
    height: 455px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #quick-view-product .product-images .large-image {
    height: 300px;
  }
}
@media (max-width: 767px) {
  #quick-view-product .product-images .large-image {
    margin-bottom: 15px;
    padding: 0px;
  }
}
#quick-view-product .product-images .large-image a {
  display: block;
}
#quick-view-product .product-images .large-image a .zoomWrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}
#quick-view-product .product-images .large-image a img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
  position: relative !important;
}
#quick-view-product .product-images .slides .item a img {
  margin: 0 auto;
}
.product-featured-image-quickview {
  margin-bottom: 10px;
  margin: 0 auto;
}
#quick-view-product .button_actions {
  margin-top: 0;
}
#quick-view-product .form_product_content {
  width: 100%;
}
#quick-view-product form {
  width: 100%;
  margin: 0px;
}
#quick-view-product form .selector-wrapper label {
  font-size: 14px;
  width: 85px;
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  color: #636363;
  line-height: 40px;
  margin-bottom: 0px;
}
#quick-view-product form .selector-wrapper .single-option-selector {
  font-family: "Niramit", sans-serif;
  width: 35%;
  float: none;
  border-radius: 3px;
}
#quick-view-product form label {
  display: inline-block;
}
#quick-view-product form select {
  width: 150px;
  display: inline-block;
  height: 40px;
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
}
#quick-view-product #usefull_link_block {
  margin: 10px 0;
}
#quick-view-product #usefull_link_block li a {
  color: #222;
  line-height: 17px;
}
#quick-view-product .fancybox-overlay {
  display: block !important;
  height: 100vh;
  background: none;
  z-index: 100;
}
#quick-view-product .quick-view-product {
  position: absolute;
  width: 950px;
  top: 5%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 30px;
  background-color: #fff;
  z-index: 8011;
  border-radius: 0px;
}
#quick-view-product .quick-view-product .details-product:before {
  right: 48.5% !important;
}
#quick-view-product .quick-view-product .details-product:after {
  display: none;
}
#quick-view-product .quick-view-product .flex-viewport {
  min-height: 440px !important;
}
#quick-view-product .quick-view-product .large-image {
  height: 480px;
  min-height: 480px !important;
}
#quick-view-product .quick-view-product .header_qv {
  font-weight: 400;
  font-size: 14px;
  font-family: "Niramit", sans-serif;
  display: inline-block;
  float: left;
  line-height: 40px;
  color: #6b6b6b;
  width: 100%;
}
#quick-view-product .product-right-column .price-product-detail {
  margin: 0;
  line-height: 33px;
}
#quick-view-product .total-price {
  float: left;
  width: 100%;
  display: block;
  margin-top: 15px;
}
#quick-view-product .total-price span {
  font-size: em(15px);
  font-weight: 400;
  color: #222;
}
#quick-view-product .product-right-column .quantity_wanted_p {
  width: 100%;
  margin-top: 15px;
}
#quick-view-product .product-right-column .add_to_cart_detail {
  margin: 15px 10px 15px 0;
  width: 100%;
}
#quick-view-product .product-right-column .add_to_cart_detail.disabled {
  padding: 0 20px;
}
#quick-view-product .product-right-column .btn-wishlist {
  margin-top: 15px;
}
#quick-view-product .swatch .swatch-element {
  margin: 0px 5px 5px 0;
}
#quick-view-product .loading-imgquickview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#quick-view-product .availability,
#quick-view-product .product-sku {
  line-height: 28px;
  color: #444;
}
#thumbs_list_quickview {
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.quickview-more-views-owlslider {
  padding: 0;
}
#thumblist_quickview #thumblist {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: static;
}
#thumblist_quickview .swiper-slide {
  float: left;
}
#thumblist_quickview .swiper-slide.active > a {
  border: 1px solid #444;
}
#thumblist_quickview .swiper-slide a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #e9edf5;
  margin: 0 5px;
  height: 80px;
}
#thumblist_quickview .swiper-slide img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto;
  margin: 0 auto;
}
#thumblist_quickview .thumb_item {
  border: 1px solid #e6e6e6;
}
@media (max-width: 1199px) {
  #quick-view-product,
  .quickview {
    display: none !important;
  }
}
.fancybox-close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 8040;
  color: #fff;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}
.quick_option .quantity_wanted_p {
  width: 100%;
  float: left;
  margin-top: 15px;
}
.quickview-info .reviews_qv {
  margin-top: 0px;
  width: 100%;
  overflow: hidden;
  padding: 10px 0 7px 0;
}
.quickview-info .reviews_qv .text_revi {
  position: relative;
  line-height: 27px;
  font-size: 13px;
  color: #7b7b7b;
  font-weight: 500;
  margin-left: 10px;
  padding-left: 10px;
}
.quickview-info .reviews_qv .text_revi:before {
  content: "|";
  position: absolute;
  color: #7b7b7b;
  left: 0;
  line-height: 27px;
}
.quickview-info .price-box .h2 {
  color: #363636;
}
.quick_option .quantity_wanted_p .soluong_h {
  width: 100px;
  line-height: 40px;
  display: inline-block;
  float: left;
  font-weight: 400;
  font-size: 14px;
  color: #636363;
}
.quick_option .quantity_wanted_p .input_qty_qv {
  width: 120px;
  display: inline-block;
  float: left;
  position: relative;
  padding: 0;
  margin: 0px;
  margin-right: 10px;
  border: none;
  box-shadow: none;
  height: 45px;
}
.quick_option .quantity_wanted_p .input_qty_qv span {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.quick_option .quantity_wanted_p .input_qty_qv .num_1 {
  line-height: 42px;
  border: solid 1px #eaebf3;
  display: inline-block;
  width: 40px;
  height: 45px;
  background: #fff;
  float: left;
  color: #8d90a6;
  text-align: center;
  padding: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 28px;
  border-right: none;
}
.quick_option .quantity_wanted_p .input_qty_qv .num_2 {
  line-height: 42px;
  border: solid 1px #eaebf3;
  display: inline-block;
  width: 40px;
  height: 45px;
  background: #fff;
  float: left;
  color: #8d90a6;
  text-align: center;
  padding: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 20px;
  border-left: none;
}
.quick_option .quantity_wanted_p .input_qty_qv input {
  margin: 0px;
  display: block;
  float: left;
  color: #8d90a6;
  height: 45px;
  border: 1px solid #eaebf3;
  border-right: none;
  border-left: none;
  width: 40px;
  text-align: center;
  box-shadow: none;
  border-radius: 0px;
  font-size: 15px;
  padding: 0;
}
.quick_option .contacts {
  display: inline-block;
  float: left;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;
}
.quickview-product .product-single h1 a,
.quickview-product .product-single .h1 a {
  font-size: em(20px);
}
.quickview-product .product-single .price {
  font-size: em(26px);
}
.quickview-product .content {
  padding: 30px;
}
.quickview-product .product-name {
  margin: 0 0 10px !important;
}
.quickview-product .review {
  margin-bottom: 10px;
}
.quickview-product .review:before {
  content: " ";
  display: table;
}
.quickview-product .review:after {
  content: " ";
  display: table;
  clear: both;
}
.quickview-product .review .spr-badge {
  float: left;
  height: 24px;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
}
.quickview-product .review .spr-badge .spr-icon {
  margin: 0;
}
.quickview-product .review .spr-badge .spr-active {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
}
.quickview-product .review .spr-badge .spr-badge-caption {
  float: left;
  margin: 0 0 9px;
}
.quickview-product span.available {
  display: none;
}
.quickview-product span.available.active {
  display: block;
}
.quickview-product .call_phone_buy {
  margin: 17px 0 15px 0;
  color: #8d90a6;
}
.quickview-product .call_phone_buy a {
  color: #444;
  font-weight: bold;
}
.quickview-product .call_phone_buy a:hover {
  color: #6b6b6b !important;
}
.quickview-product .social-sharing {
  float: left;
  width: 100%;
}
.quickview-product .view-more {
  font-size: 13px;
}
.quickview-product .view-more:hover {
  color: #444;
  text-decoration: none;
}
.quickview-product .product-actions {
  border: none;
  padding: 0;
  margin: 0;
}
.quickview-product .product-actions .btn-addToCart {
  clear: none;
  margin: 0;
}
.quickview-product .product-media {
  position: relative;
  min-width: 400px;
}
.quickview-product .product-media:before {
  content: " ";
  display: table;
}
.quickview-product .product-media:after {
  content: " ";
  display: table;
  clear: both;
}
.quickview-product .more-views {
  width: 80px;
  margin: 0;
  height: calc(100% - 60px);
  min-height: 361px;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
}
.quickview-product .more-views a {
  display: block;
  overflow: hidden;
  height: 100%;
}
.quickview-product .more-views img {
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.quickview-product .border-bottom-qv {
  padding: 2px 0px;
  border-left: 0px;
  border-right: 0px;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
}
.quickview-product .featured-image {
  float: right;
  width: calc(100% - 100px);
  margin: 0;
}
.quickview-product form {
  margin: 0;
}
.quickview-product .product-actions .product-single-quantity {
  margin-bottom: 0;
}
.quickview-product .product-single .product-description {
  margin: 0 0 25px;
}
.quickview-product .product-options {
  margin: 0 0 25px;
  padding: 0 0 25px;
}
.quickview-product .details {
  margin: 0 0 8px;
}
.swatch {
  margin: 15px 0;
}
.swatch .header {
  margin: 0px 0px 10px;
  text-align: left;
  font-weight: 400;
  font-size: 17px;
  color: #576a7e;
  z-index: 0;
  height: unset;
}
@media (min-width: 414px) {
  .swatch .header {
    display: inline-block;
    float: left;
    width: 100px;
  }
}
.swatch .header .valued {
  color: #576a7e;
  font-size: 17px;
  font-family: "Niramit", sans-serif;
  text-transform: none;
}
.swatch label {
  float: left;
  min-width: 40px !important;
  height: 40px !important;
  margin: 0;
  border: 2px solid #ebebeb;
  background-color: #fff;
  font-size: 14px;
  font-family: "Niramit", sans-serif;
  text-align: center;
  line-height: 38px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0;
  color: #6b6b6b;
  border-radius: 3px;
}
.swatch-element label {
  padding: 0 5px;
}
.color.swatch-element label {
  padding: 0;
}
.swatch input:checked + label {
  background: #444;
  border-color: #444;
  color: #fff;
}
.swatch .color input:checked + label {
  position: relative;
  border-color: #444;
}
.swatch .color input:checked + label:after {
  content: "";
  background: url(//bizweb.dktcdn.net/100/428/530/themes/824064/assets/i-check-variant.png?1677902836794);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  right: 0;
  width: 14px;
  height: 14px;
}
.swatch .color .fa:before {
  width: 30px;
  height: 30px;
}
.swatch .color label {
  border-radius: 0;
  width: 40px;
  min-width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  border: 2px solid #ebebeb;
  border-radius: 3px !important;
}
.swatch .swatch-element {
  overflow: hidden;
  margin: 0px 10px 10px 0;
  float: left;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  position: relative;
}
.swatch .swatch-element input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.swatch .swatch-element.color {
  margin: 0px 10px 0px 0;
}
.swatch .swatch-element.color .tim {
  background-color: #db23b6;
  border: 1px solid #db23b6;
}
.swatch .swatch-element.color .xanh {
  background-color: #0554ff;
  border: 1px solid #0554ff;
}
.swatch .swatch-element.color .vang {
  background-color: #e6fa0a;
  border: 1px solid #e6fa0a;
}
.swatch .swatch-element.color .den {
  background-color: #000000;
  border: 1px solid #000000;
}
.swatch .swatch-element.color .do {
  background-color: #f20808;
  border: 1px solid #f20808;
}
.swatch .swatch-element.color .cam {
  background-color: #fc9905;
  border: 1px solid #fc9905;
}
.swatch .swatch-element.color .xam {
  background-color: #615a5a;
  border: 1px solid #615a5a;
}
.swatch .swatch-element.color .xanh-nuoc-bien {
  background-color: #3a40fa;
  border: 1px solid #3a40fa;
}
.swatch .swatch-element.color .xanh-la-cay {
  background-color: #00ff15;
  border: 1px solid #00ff15;
}
.swatch .swatch-element.color .hong {
  background-color: #ff00d5;
  border: 1px solid #ff00d5;
}
.crossed-out {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#quick-view-product .selector-wrapper {
  display: none !important;
}
.swatch .swatch-element .crossed-out {
  display: none;
}
.swatch .swatch-element.soldout .crossed-out {
  display: block;
}
.swatch .swatch-element.soldout label {
  cursor: no-drop;
}
.swatch .tooltip {
  text-align: center;
  background: #444;
  color: #fff;
  bottom: 100%;
  padding: 10px;
  display: block;
  position: absolute;
  width: 100px;
  left: -35px;
  margin-bottom: 15px;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.swatch .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
.swatch .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #444 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 0;
}
.swatch .swatch-element:hover .tooltip {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.swatch.error {
  background-color: #e8d2d2 !important;
  color: #333 !important;
  padding: 1em;
  border-radius: 5px;
}
.swatch.error p {
  margin: 0.7em 0;
}
.swatch.error p:first-child {
  margin-top: 0;
}
.swatch.error p:last-child {
  margin-bottom: 0;
}
.swatch.error code {
  font-family: monospace;
}
