@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    /* background-color: #934722; */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

#page-login header{
    /* width: 100%; */
    background-color: #ffffff;
    position: fixed ;
    padding: 15px 0;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid rgb(219, 219, 219);
}
#page-login header #logo img{
    width: 70px;
    height: 70px;
}
#page-login header #login a{
    color: #edb059;
}
#page-login main{
    padding: 4% 0 0 ;
    width: 100%;
    height: auto;
    object-fit: cover;
    background: linear-gradient(125deg,rgba(255, 255, 255, 0.7) 15%,rgba(255, 255, 255, 0.5) 70%),url('https://img.freepik.com/free-photo/cherry-white-wooden-background-with-copyspace-available-healthy-raw-fruits_482257-36599.jpg?t=st=1672721127~exp=1672721727~hmac=8a905642f1a0d9f2cbe08d901f3aac66e604f1b7668ca8fb8936433299323d86') center no-repeat ;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-login .main-left h1{
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 56px;
    color: #000!important;
    line-height: 1.4em;
    text-align: center;
}
#page-login .pd{
    padding: 6% 0 4% !important;
}
#page-login .logo{
    /* width: 100px; */
}
#page-login .images{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#page-login .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page-login .box-top{
    padding: 20px;
    background-color: #152036;
}
#page-login .box-top h5 {
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    color: #1d9fd4!important;
    letter-spacing: 2px;
    line-height: 1.4em;
}
#page-login .box-top p{
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
#page-login .box-bottom{
    background-color: #1b2a47;
    padding: 7% 15%;
}
#page-login .box-bottom h2{
    color: #fff;
    font-weight: 400;
}
#page-login .box-bottom form input{
    width: 100%;
    padding: 14px 4%!important;
    border-width: 0;
    border-radius: 3px;
    color: #666;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    -webkit-appearance: none;
    margin: 7px 0;
    border: none;
    outline: none;
}
#page-login .box-bottom form input:focus{
    border: none;
    outline: none;
}
#page-login .box-bottom form button[type=submit]{
    border-radius: 4px;
    border: 2px solid #fff;
    background: transparent;
    padding: 10px 4%!important;
    color: #fff;
    margin: 20px 0;
}
#page-login .box-bottom form button[type=submit]:hover{
    border-color: #0060ac;
    background: #0060ac;
    padding: 10px 4%!important;
    color: #fff;
    margin: 20px 0;
}
#page-login .title-left{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(65, 20, 214);
    padding: 10px;
    margin-bottom: 0px;
}
#page-login .slogan{
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    color: #07944a;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
}
#page-login .trademark{
    display: inline-block;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1d9fd4;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 100rem;
}
#page-login .dinhduong .images{
    width: 100%;
    height: 210px;
    object-fit: cover;
}
#page-login .product .images{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
#page-login .product .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page-login footer{
    position: relative;
}
footer {
    bottom: 0px;
    width: 100%;
    clear: both;
    padding: 15px 0 ;
    background-color: #1f1f1f;
}
footer p{
    color: rgb(159, 159, 159);
    margin-bottom: 0px !important;
}
footer a{
    color: #823e12;
    margin-bottom: 0px !important;
    text-decoration: none;
}
footer a:hover{
    color: #d57500;
    text-decoration: none;
}
.a-delay05{
    animation-delay: 0.5s ;
}
.a-delay07{
    animation-delay: 0.7s ;
}
@media only screen and (max-width: 768px) {
    #page-login{
        width: 100%;
        overflow: hidden;
    }
    #page-login header{
        position: relative;
        padding: 5px 0 ;
    }
    #page-login #logo{
        margin: 0 auto;
        text-align: center;
    }
    #page-login #logo img{

    }
    #page-login .pd {
        padding: 5% 0 0% !important;
    }
    #page-login .box-bottom{
        padding: 7% 10%;
    }
    #page-login main{
        padding: 5% 0 3%;
        height: auto;
        background-size:auto 100%;
        overflow: hidden;
    }
    /* #page-login .main-left h1{
        font-size: 36px;
    } */
    #page-login .title-left {
        font-size: 23px;
    }
    #page-login .slogan{
        color: #152036;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
    #page-login footer{
        position: relative !important;
    }
}
/* menu */
#nav-menu{
    /* height: 81px; */
     transition: 0.3s ease all;
     padding: 5px 0;
 }
 .navbar-light .navbar-toggler{
    border-color: #fff;
 }
 /* trang chu */
#page-home {
    /* background-color: #7e6131; */
    background-color: #152036;
}
header{
    width: 100%;
    background-color: #1b2a47;
    position: fixed ;
    top: 0;
    left: 0;
    z-index: 1;
}
#nav-menu .nav-link{
    font-size: 14px;
    font-weight: 600;
}
#nav-menu .nav-link{
    color: #fff !important;
}
#nav-menu .active  .nav-link{
    color: #1d9fd4 !important;
}

main{
    padding: 8% 0 6% 0;
}

#page-home .name-account{
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    border-radius: 5px;
    background: #ffffff;
}
#page-home .name-account.m-5{
    margin-top: 0 !important;
}
#page-home .modul{
    font-size: 32px;
    line-height: 2em;
    background-color: #ffffff;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%)
}
#page-home .modul h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 2em;
    text-align: center;
    color: #1d9fd4;
}
#page-home .modul p {
    line-height: 2em;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}
.box-image{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.box-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#page-home .link-introduce{
    height: auto;
    padding: 25px 15px;
    margin: 30px;
    background-color: #ffffff;
    word-wrap: break-word;
}

#page-home .link-introduce span{
    font-size: 14px;
    font-weight: 500;
    color: #1d9fd4;
    cursor: pointer;
}
#page-home .link-introduce #linkIntroduce,#linkOrder{
    background-color: #e0e0e0 !important;
}
.nav-item{
    margin: 0 10px;
}
/* mobile page home */
@media only screen and (max-width: 768px) {
    .nav-item {
        margin: 0   ;
        /* margin-right: 2rem; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
    }
    .nav-item:last-child{
    border-bottom: none;
    }
    .nav-link{
        padding: 10px 0;
    }
    #page-home .modul{
        margin: 15px 0;
    }
    #page-home .link-introduce{
        margin: 20px 0px;
        text-align: center;
    }
}
/* Trang tai khoan */
#page-account .box-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}
#page-account .user-account span{
    font-size: 18px;
}
#page-account .menu-acount i{
    width: 40px;
    height: auto;
    text-align: center;
}
#page-account .nav-link{
    margin: 1px 0;
}
#page-account .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: rgb(0, 0, 0);
    background-color: #bebebe;
}
#page-account .nav-pills .nav-link{
    background: rgb(223, 222, 222);
    color: rgb(49, 49, 49);
}
#page-account .form-info-bank{
    border: 1px solid rgb(222, 222, 222);
    padding: 10px 20px;
    border-radius: 3px;
}
#page-account .form-info-bank .form-group:last-child{
    margin-bottom: 0px !important;
}
#page-account .mb-25{
    margin-bottom: 25%;
}
/* mobile page account */
@media only screen and (max-width: 768px) {
     main{
        padding: 35% 0 3%;
    }
    #page-account .form-info-bank{
        padding: 20px;
    }
}

/* Page order */
.color_edb{
    color: #edb059 !important;
}
#page-order footer {
    position: fixed;
    bottom: 0px;
    clear: both;
}

/* page member */
#page-member{
    background-color: #152036;
    min-height: 100vh;
}
.google-visualization-orgchart-table{
    margin: 0 auto;
}
#page-member .image-box{
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;
    color: #c2c9db;
    overflow: hidden;
    margin: 5px ;
}
#page-member .google-visualization-orgchart-node{
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
}
#page-member .image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page-member .username{
    color: #8B0000 !important;
}
.google-visualization-orgchart-table *{
    padding: 1px !important;
}
#page-member #member{
    width: 100%;
    height: 500px;
    margin: 0 auto;

}
#page-member footer {

}
/* mobile page account */
@media only screen and (max-width: 768px) {
   #page-member #member{
    height: 550px;
    overflow-x: scroll;
    margin: 0 10px;
   }
}

/* page register */
#page-register{
    background-color: #152036;
}
#page-register .register {
    background: -webkit-linear-gradient(left, #034591, #031f36);
    padding: 3%;
}
#page-register .register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
#page-register .register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
    font-size: 18px;
}
#page-register .register .border-info, .btn-info {
    background: #9e5100!important;
    border-color: #9e5100!important;
}
#page-register .register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
#page-register .register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
#page-register .register .register-form {
    padding: 10% 0 1% 0;
    margin-top: 10%;
    min-height: 411px;
    max-height: auto;
}
#page-register .btn-primary {
    background-color: #0062cc;
    border-color: #005cbf;
}

body {
    position: static !important;
}

footer {
    position: fixed !important;
}

#box-product {
    height: 300px !important;
}

main {
    padding: 10% 0 6% 0;
}
/* #info-product{
    height:150px !important;
} */
/* mobile page-register */
@media only screen and (max-width: 768px) {
    main {
        padding: 35% 0 20%;
    }
    #page-register main {
        padding: 20% 0 20%;
        overflow: hidden;
    }
    #page-register .register{
        padding: 0;

    }
    #page-register .register .border-info, .btn-info {
        background: #6a3f11!important;
        border-color: #9e5100!important;
        margin-bottom: 20px;
    }
    #box-product{
        height: 350px !important;
    }
    #info {
        position: static !important;
        /* top: 25px;
        right:40px; */
    }
    .hide-for-mobile {
        display: none;
    }
    #home_user_name {
        margin-top: 60px;
     }
     .mobile-show {
        display: block !important;
        font-size: .8em !important;

     }
 }

 #page-pay{
    background-color:  #f8f9fa;
 }

 #info {
    position: fixed;
    top: 25px;
    right:40px;
    width: 170px;
    background-color: #28a745;
    border-radius: 5px;
 }
#info>li:first-child {
    border-bottom: 1px solid;
}
 .mobile-show {
    display: none;
 }
@media only screen and (max-width: 576px) {
    .payment-widget .icon {
        font-size: 17px;
    }
    .payment-widget .text {
        font-size: 14px !important;
    }
    .payment-widget {
        margin-bottom: 5px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .col-4 {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .qr_bank_image {
        width: 100%;
    }
}

