.header-main {
    /*background: mediumblue;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: fit-content;
}
header {
    background: #12a940 !important;
}
.opacity-0 {
    opacity: 0 ;
}
