#top{
    width: 100%;
    height: 90px;
    /* display: block; */
    border-top: 3px solid #2525d3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /* overflow: hidden; */
}
header{
    background: #fff;
    padding-top: 10px;
}
.header-top{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-search{
    display: inline-block;
    font-size: 15px;
    border: 1px solid silver;
    background: #fff;
    line-height: 1;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px ;
}
.header-search input{
    border: none;
    outline: none;
}.header-search input::placeholder{
    font-size: 13px;
}
.header-search input[type=submit]{
    background-color: var(--blue-color) ;
    width: auto;
    height: 100%;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 13px;
}
.header-main{
    padding-top: 10px;
}
.header-main nav .main-menu{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.header-main .main-menu .menu-items a{
   padding: 10px 17px;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: bold;
   color: #000;
   display: block;
}
.header-main .main-menu .menu-items a:hover{
    border-bottom: 2px solid var(--blue-color);
}

.header-main .main-menu .nav-dropdown{
    display: none;
    width: 200px;
    background-color: rgba(37,37,211,.9);
    z-index: 16;
    position: absolute;
}
.header-main .main-menu .nav-dropdown .nav-items:hover{
    background: #23378d;
}
.header-main .main-menu .nav-dropdown .nav-items a{
    color: #fff;
    border-bottom: 1px solid #6161df;
    font-weight: 100;
    padding: 8px 10px;
}
.header-main .main-menu .menu-items:hover > .nav-dropdown {
    display: block;
}
#toggle {
    display: none;
    background: var(--blue-color);
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.header-main .main-menu i{
    display: none;

}

/* main */
#main{
    margin-top: 90px;
}
.link-page{
    height: 40px;
    line-height: 35px;
}
.home-layout{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap:10px;
}
.box-items{
    width: 100%;
    border: 1px solid #c9d0d8;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
}
.box-items a {
    height: 70px;
    width: 210px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.box-items img {
    max-width: 100%;
    max-height: 100%;
}
.home-center img{
    /* width: 515px; */
    visibility: hidden;
    display: inline;
}
form .search-phone input{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}
form .search-phone input[type=submit]{
    background: var(--blue-color);
    cursor: pointer;
    width: 25%;
    padding: 10px 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    margin: 0 auto;
}
form .search-phone input::placeholder{
    font-size: 14px;
}











/* Insurance_card */

/* .insurance_card{
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
} */
.name-page{
    color: var(--blue-color);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    margin-top: 20px;
}
.card-items{
}
.card-images{
    width: 210px;
    height: 110px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border: 1px solid #c9d0d8;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
}
.card-images img{
    max-width: 100%;
    max-height: 100%;
    padding: 1px 5px;
}
.card-images::before{
    display: none;
    content: " ";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/bg-view.png) no-repeat center;
    background-color: rgba(52,52,52,.5);
    z-index: 1;
}
.card-items:hover .card-images::before{
    display: block;
}
.card-title{
    margin: 5px 0;
}
.card-title a{
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    overflow: hidden;
    color: #333;
}
.card-title a:hover{
   color: var(--text-color-hover);
}




.pagination{
    margin: 40px 0;
}
.pagination .active {
    color: #fff;
    background: #49879c;
}
.pagination li {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #ccc;
    margin-left: 2px;
}
.pagination a{
    color: #000;
}
.pagination .active a {
    color: #fff;
}

/* product */

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    margin-top: 20px;
}

.product-items{
}
.product-images{
    width: 210px;
    height: 110px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border: 1px solid #c9d0d8;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
}
.product-images img{
    max-width: 100%;
    max-height: 100%;
    padding: 1px 5px;
    font-size: 12px;
}
.product-images::before{
    display: none;
    content: "";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/bg-view.png) no-repeat center;
    background-color: rgba(52,52,52,.5);
    z-index: 1;
}
.product-items:hover .product-images::before{
    display: block;
}
.product-title{
    margin: 5px 0;
}
.product-title a{
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    overflow: hidden;
    color: #333;
}
.product-title a:hover{
   color: var(--text-color-hover);
}

/* page child */
.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap:10px;
}
.information{
    font-size: 14pt;
    margin: 30px 0;
}
.information span{
    font-weight: bold;
    margin-left: 5%;
    color: var(--green-text);
    display: block;
}
.information-list{
    margin: 15px 0;
}
.information-list li{
    list-style-type: disc;
    margin-left: 10%;
    font-weight: bold;
    padding-bottom: 5px ;
}




/* contact */
.contact{
    margin-top: 50px;
    border-top: 1px solid #ddd;
}
.contact form{
    width: 500px;
    padding-top: 20px;
}
.form-group{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:20px;
    margin: 10px 0;
}
.contact form label{
    text-align: right;
    font-size: 14px;
}
.contact form input,textarea{
    width: 400px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #ccc;
    line-height: 26px;
    outline: none;
}
.contact form input[type=submit]{
    width: 100px !important;
    text-align: center;
    border: none;
    background: #005ba0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}




/*  */
.post{
    margin: 20px 0;
}
.post p,ul,li,td{
    font-size: 13px;
    line-height: 1.5;
}
.post h2{
    font-size: 15px !important;
    font-weight: bold;
}
.post h3,h4{
    font-size: 14px !important;
    font-weight: bold;
}
.post img{
    max-width: 100%!important;
    height: auto!important;
}
.post a:hover {
    color: var(--text-color-hover);
}


/* blog-post */
.blog-post{
    margin: 20px 0;
}
.post-items{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap:10px;
    padding: 10px;
}
.blog-image{
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-title a{
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
}
.blog-title a:hover{
    color: var(--text-color-hover);
}
.blog-text .time{
    padding: 5px 0;
    font-style: italic;
    font-size: 13px;
}



/* footer */
#footer {
    margin-top: 30px;
    clear: both;
    text-align: center;
    height: 70px;
    padding: 15px;
    line-height: 24px;
    background: url(../images/bg-bottom.png) no-repeat top;
}
#footer p{
    font-size: 13px;
}

.splide__pagination.splide__pagination--ttb{
    display: none;
}













@media screen and (max-width: 768px) {
    .main-menu {
        flex-direction: column;
        text-align: center;
    }
    #toggle {
        display: block;
    }
    nav {
        display: none;
    }
    .header-main .main-menu i{
        display: block;
    }
    header .container{
        width: 100%;
        padding: 0;
    }
    .header-top{
        margin-right: 10px;
    }
    .menu-items{
        display: flex;
        align-items: center;
    }



    .grid{
        grid-template-columns: 1fr;
    }
    .home-layout{
        grid-template-columns: 1fr;
        grid-row-gap: 30px ;
    }
    .home-right .product-items{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .home-right .product-images {
        width: 100%;
        margin: 0 auto;

    }




    #main {
        margin-top: 100px;
    }
    form .search-phone input[type=submit]{
        width: 50%;
    }


    .card{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:10px
    }
    .product{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:10px
    }
    /* blog-post */
    .blog-image {
        height: 100px;
    }
    .blog-title a {
        font-size: 15px;
    }
    .blog-text .time {
        padding: 5px 0;
        font-style: italic;
        font-size: 12px;
    }
    /* contact */
    .contact form{
        width: 100%;
    }
    .form-group {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        margin: 10px 0;
    }
    .contact form label {
        text-align: left;
        margin-bottom: 5px;
    }
    .contact form input, textarea {
        width: 100%;
    }
}
