
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        /* max-width: 1140px; */
        max-width: 1020px
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior:smooth ;
}
body{
    background: url(../images/bg-body.jpg) no-repeat top fixed;
    background-size: cover;
    color: #333;
}
:root {
    --blue-color: #2525d3;
    --text-color-hover:#ff2d00;
    --green-text: #00ff00;
  }
.bg-white{
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(223 227 231 / 75%);
    min-height: 70vh;
}
a{
    color: #333;
}



/* ------------------------------------------------------------------ */




#top{
    width: 100%;
    height: 90px;
    /* display: block; */
    border-top: 3px solid #2525d3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /* overflow: hidden; */
}
header{
    background: #fff;
    padding-top: 10px;
}
.header-top{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-search{
    display: inline-block;
    font-size: 15px;
    border: 1px solid silver;
    background: #fff;
    line-height: 1;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px ;
}
.header-search input{
    border: none;
    outline: none;
}.header-search input::placeholder{
    font-size: 13px;
}
.header-search input[type=submit]{
    background-color: var(--blue-color) ;
    width: auto;
    height: 100%;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 13px;
}


/* main menu */

.navbar{
    font-family: 'Roboto', sans-serif;
}

.dropdown-item{
    font-size: 13px;
    color: #fff;
    border-bottom: 1px solid #6161df;
    font-weight: 100;
    padding: 10px;
    background-color: rgba(37,37,211,.9);
}
.dropdown-item:hover{
    background: #23378d;
    color: #fff;
}
.dropdown-menu{
    padding: 0;
    border: none;

}
.nav-link{
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}
.header-main .nav-link {
    color: white !important;
}
.nav-link:hover{
    border-bottom: 2px solid white;
}
#item-desk.dropdown:hover .dropdown-menu{
    display: block;
}

#item-mobile{
    display: none;
}






/* main */
#main{
    margin-top: 90px;
}
.link-page{
    height: 40px;
    line-height: 35px;
}
.home-layout{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap:30px;
}
.box-items{
    width: 100%;
    border: 1px solid #c9d0d8;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
}
.box-items a {
    height: 70px;
    width: 210px;
    text-align: center;
    vertical-align: middle;
    display: block;
    text-align: center;
    margin: 0 auto;

}
.box-items img {
    max-width: 100%;
    max-height: 100%;
}

form .search-phone input{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}
form .search-phone input[type=submit]{
    background: var(--blue-color);
    cursor: pointer;
    width: 25%;
    padding: 10px 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    margin: 0 auto;
}
form .search-phone input::placeholder{
    font-size: 14px;
}











/* Insurance_card */

/* .insurance_card{
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
} */
.name-page{
    color: var(--blue-color);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    margin-top: 20px;
}
.card-items{
}
.card-images{
    width: 210px;
    height: 110px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border: 1px solid #c9d0d8;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
}
.card-images img{
    max-width: 100%;
    max-height: 100%;
    padding: 1px 5px;
}
.card-images::before{
    display: none;
    content: " ";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/bg-view.png) no-repeat center;
    background-color: rgba(52,52,52,.5);
    z-index: 1;
}
.card-items:hover .card-images::before{
    display: block;
}
.card-title{
    margin: 5px 0;
}
.card-title a{
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    overflow: hidden;
    color: #333;
}
.card-title a:hover{
   color: var(--text-color-hover);
}




.pagination{
    margin: 40px 0;
}
.pagination .active {
    color: #fff;
    background: #49879c;
}
.pagination li {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #ccc;
    margin-left: 2px;
}
.pagination a{
    color: #000;
}
.pagination .active a {
    color: #fff;
}

/* product */

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    margin-top: 20px;
}

.product-items{
}
.product-images{
    width: 210px;
    height: 110px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border: 1px solid #c9d0d8;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
}
.product-images img{
    max-width: 100%;
    max-height: 100%;
    padding: 1px 5px;
    font-size: 12px;
}
.product-images::before{
    display: none;
    content: "";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/bg-view.png) no-repeat center;
    background-color: rgba(52,52,52,.5);
    z-index: 1;
}
.product-items:hover .product-images::before{
    display: block;
}
.product-title{
    margin: 5px 0;
}
.product-title a{
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    overflow: hidden;
    color: #333;
}
.product-title a:hover{
   color: var(--text-color-hover);
}

/* page child */
.grid{
    display: grid !important;
    grid-template-columns: 1fr 3fr;
    grid-gap:10px;
}
.information{
    font-size: 14pt;
    margin: 30px 0;
}
.information span{
    font-weight: bold;
    margin-left: 5%;
    color: var(--green-text);
    display: block;
}
.information-list{
    margin: 15px 0;
}
.information-list li{
    list-style-type: disc;
    margin-left: 10%;
    font-weight: bold;
    padding-bottom: 5px ;
}




/* contact */
.contact{
    margin-top: 50px;
    border-top: 1px solid #ddd;
}
.contact form{
    width: 500px;
    padding-top: 20px;
}
.form-group{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:20px;
    margin: 10px 0;
}
.contact form label{
    text-align: right;
    font-size: 14px;
}
.contact form input,textarea{
    width: 400px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #ccc;
    line-height: 26px;
    outline: none;
}
.contact form input[type=submit]{
    width: 100px !important;
    text-align: center;
    border: none;
    background: #005ba0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}




/*  */
.post{
    margin: 20px 0;
}
.post p,ul,li,td{
    font-size: 13px;
    line-height: 1.5;
}
.post h2{
    font-size: 15px !important;
    font-weight: bold;
}
.post h3,h4{
    font-size: 14px !important;
    font-weight: bold;
}
.post img{
    max-width: 100%!important;
    height: auto!important;
}
.post a:hover {
    color: var(--text-color-hover);
}


/* blog-post */
.blog-post{
    margin: 20px 0;
}
.post-items{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap:10px;
    padding: 10px;
}
.blog-image{
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-title a{
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
}
.blog-title a:hover{
    color: var(--text-color-hover);
}
.blog-text .time{
    padding: 5px 0;
    font-style: italic;
    font-size: 13px;
}



/* footer */
#footer {
    margin-top: 30px;
    clear: both;
    text-align: center;
    height: 70px;
    padding: 15px;
    line-height: 24px;
    background: url(../images/bg-bottom.png) no-repeat top;
}
#footer p{
    font-size: 13px;
}

.splide__pagination.splide__pagination--ttb{
    display: none;
}













@media screen and (max-width: 768px) {
    .nav-link:hover{
        border-bottom: none;
    }

    .header-main .main-menu i{
        display: block;
    }
    header .container{
        width: 100%;
        padding: 0;
    }
    .header-top{
        margin-right: 10px;
    }
    #item-desk{
        display: none;
    }

    #item-mobile{
        display: block;
    }


    .grid{
        grid-template-columns: 1fr;
    }
    .home-layout{
        grid-template-columns: 1fr;
        grid-row-gap: 30px ;
    }
    .home-right .product-items{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .home-right .product-images {
        width: 100%;
        margin: 0 auto;
    }
    .home-left .product-items{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .home-left .product-images {
        width: 100%;
        margin: 0 auto;
    }
    .slide{
        display: block;
        margin: 0 auto;
    }



    #main {
        margin-top: 100px;
    }
    form .search-phone input[type=submit]{
        width: 50%;
    }


    .card{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:10px
    }
    .product{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:10px
    }
    /* blog-post */
    .blog-image {
        height: 100px;
    }
    .blog-title a {
        font-size: 15px;
    }
    .blog-text .time {
        padding: 5px 0;
        font-style: italic;
        font-size: 12px;
    }
    /* contact */
    .contact form{
        width: 100%;
    }
    .form-group {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        margin: 10px 0;
    }
    .contact form label {
        text-align: left;
        margin-bottom: 5px;
    }
    .contact form input, textarea {
        width: 100%;
    }
}
