@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue2: rgb(0, 124, 207) ;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat ;
	background-position: top right;
	background-size: cover;
	background-attachment: fixed;
}
header{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: rgba(255,255,255,0.5);
}
header #logo{
    width: 70px;
    height: auto;
}
header #logo img{
    width: 100%;
    height: 100%;
}
header .slogan{
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    color: #145cae;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
}
main{
    padding: 30px 0;
}
.image-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.desc{
    font-size: 35px;
    color: rgb(155, 55, 248);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}
.main-bottom{
    margin: 20px 0;
}
.main-bottom h5{
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    color: #145cae!important;
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 1.4em;
}
.main-bottom p{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1899d3;
    padding: 10px 25px;
    border: 2px solid #000;
    border-radius: 100rem;
}
footer{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: rgba(255,255,255,0.5);
}
.information h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0;
}
.information p{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* mobile */
@media only screen and (max-width: 768px) {
    header .slogan{
        font-size: 20px;
        text-align: left;
    }
    .image-box{
        padding: 10px 0;
    }
    .desc{
        font-size: 30px;
    }
    .payment-widget .icon {
        font-size: 17px;
    }
  }
