.product-detail-title {
    margin-top: 0.7rem;
    font-size: 2rem;
    font-weight: bold;
    height: 60px;
    color: #2b72b0;
}
.product-detail-price span {
    text-decoration: none;
    color: rgb(33, 150, 243);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
}
.product-detail-price .price {
    text-decoration: none;
    color: #e13d3d;
    padding-left: 8px;
    font-size: 28px;
}
.product-detail-button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    line-height: 1.6;
    border: none;
    border-radius: 5px;
    background-color: #2b72b0;
    padding: 10px 30px;
}
.product-detail-description {
    margin-bottom: 3rem;
}
