@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


:root {
    --color-green: rgba(60,191,0,1);
}

.color-green{
    color: var(--color-green);
}

header{
    width: 100%;
    border-bottom: 1px solid #c1e2d1;
    padding: 15px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: #2b72b0;
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover{
    font-weight: 900;
    color: var(--color-green);
}

.header-left{
    width: 10%;
}

.header img{
   width: 100%;
}

.header .btn-login, .btn-more{
    font-size: 18px;
    font-weight: 700;
    padding: 8px 30px;
    text-align: center;
    line-height: 1;
    color: #2b72b0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #2b72b0;
    cursor: pointer;
}

.header .btn-login:hover, .btn-more:hover {
    color: #fff;
    background: #2b72b0;
}

.user-info li{
    position: relative;
    display: flex;
    align-items: center;
}

.user-info li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-green);
}

.user-info li div{
    text-align: center;
}

.user-info li div h3{
    font-size: 20px;
    color: var(--color-green);
}

.user-info li span {
    font-size: 16px;
}

.user-info li:hover .user-logout{
    display: block;
}

.user-logout{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ededed;
    z-index: 50;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.user-logout li a{
    margin: 0 auto;
    color: #222;
}

.user-logout li a:hover{
    color: var(--color-green);
    font-weight: 600;
}

.sticky {
    position: fixed;
    z-index: 100;
    /* margin: 0 auto; */
    justify-content: center;
    background: #ccc;
    /* margin-right: 135px; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    background: var(--color-green);

}

.sticky a{
    color: #fff;
}

.sticky a:hover{
    color: #fff;
    font-weight: 900;
}

#banner{
    width: 100%;
    height: 650px;
    background: url("../../images/banner.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-origin: content-box;
    position: relative;
}

section{
    padding: 15px;
}

#sec_introduce img{
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}
.title-sec {
    margin: 15px 0;
}
.title-sec span{
    font-size: 40px;
    color: #2b72b0;
    text-transform: uppercase;
}
.title-sec .line{
    width: 200px;
    height: 2px;
    background: #FF9F9F;
    margin: 10px auto;
    border-radius: 100rem;
}

.shadow-1{
    box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px 20px ;
}

#sec_box-icon .icon{
    width: 55px;
    height: 55px;
    border-radius: 100rem;
    border: 1px solid rgba(215, 156, 156, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 8px;
}
#sec_box-icon .icon svg{
    width: 30px;
    height: 30px;
}
#sec_box-icon .box-icon .box-text h3{
    color: rgb(45, 45, 45);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0px !important;
}
#sec_box-icon .box-icon .box-text p{
    color: rgb(64, 64, 64);
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    margin: 5px 0 !important;
}
/* #sec_problem */
#sec_problem .box-list .items{
    box-shadow: 0px 0px 30px -10px rgb(68 58 58 / 30%);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 223, 224);
    border-width: 2px;
    border-radius: 30px 0px;
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 15px 0;
}
#sec_problem .box-list .items p{
    margin-bottom: 0px !important;
}
#sec_problem .box-list .items .text{
    margin-left: 20px;
}
#sec_problem .box-list .items .number{
    font-family: "Oswald", sans-serif;
    background: rgba(255, 140, 140, 1.0);
    background: -webkit-linear-gradient(180deg, rgba(255, 140, 140, 1.0), rgba(243, 44, 44, 1.0));
    background: linear-gradient(180deg, rgba(255, 140, 140, 1.0), rgba(243, 44, 44, 1.0));
    color: rgb(225, 225, 225);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#sec_problem .image-box{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
#sec_problem .image-box img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* product */
.product_items{
    margin: 16px 0;
    border: 1px solid #ececec;
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 620px;
}

.product_items img{
    width: 100%;
    height: 270px;
}

.product-title{
    margin-top: 0.7rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 60px;
    color: #2b72b0;
}

.product-type{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
}

.product_items .box-price{
    justify-content: center;
    margin-bottom: 8px;
}

.product_items .box-price span {
    text-decoration-line: underline;
    color: rgb(33, 150, 243);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
}

.product_items .box-price .price{
    text-decoration: none;
    color: #e13d3d;
    padding-left: 8px;
    font-size: 22px;
}

.product-list{
    padding-bottom: 8px;
    height: 100px;
    overflow-y: overlay;
}

.product-list ul li{
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 8px;
}

.product_items .line {
    margin-top: 8px;
    width: 100%;
    height: 1px;
    background-color: var(--color-green);
}

.box-order{
    margin: 10px 0;
    padding: 0 20px;
}
.box-order svg{
    width: 65px;
    height: 65px;
}
.box-order .button{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    line-height: 1.6;
    border: none;
    border-radius: 5px;
    background-color: rgba(60,191,0,1);
    margin: 5px;
    padding: 10px 30px;
}

.product-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec_feedback .feed-back{
    margin: 20px 0;
    display: flex;
}
#sec_feedback .feed-back .avatar{
    width: 120px;
    height: 120px;
    border-radius: 100rem;
    overflow: hidden;
}
#sec_feedback .feed-back .avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sec_feedback .feed-back .comment{
    width: 700px;
    height: auto;
    background: linear-gradient(120deg, rgba(72, 110, 137, 1), rgba(33, 57, 74, 1));
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}
#sec_feedback .feed-back .star svg{
    width: 25px;
}
#sec_feedback .feed-back .assess{
    display: flex;
    justify-content: space-between;
}
#sec_feedback .feed-back .information .name{
    font-weight: 700;
    margin-bottom: 0px !important;
}
#sec_feedback .feed-back .information .job{

}
#sec_certificate .image-box{
    /* margin: 15px 0; */
}
footer{
    width: 100%;
    /* background-color: rgba(60,191,0,1);*/
    background: url('../../images/asset-5-20200903083333.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: relative;
}

footer img {
    width: 50%;
}

footer .logo{
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
footer .line{
    width: 100px;
    height: 2px ;
    background-color: #222;
    margin: 10px auto;
}

.contact{
    color: #222;
    padding: 50px 0;
}
/*contact*/
.button-contact {
    text-align: center;
    width: 50px;
    position: fixed;
    bottom: 42px;
    z-index: 999;
    left: 10px;
}
.button-contact >div {
    margin: 14px 0;
    background-size: 70% !important;
    border-radius: 50%;
    animation: tada 1.5s infinite;
}
div.phonring-alo-phone .bg {
    position: relative;
    background: url(../../images/phone.png) center no-repeat;
    background-size: 30px;
}
div.phonring-alo-phone,div.phonring-alo-sms {
    background: #22b84a center no-repeat;
}
div.phonring-alo-zalo {
    background: #3478e5 center no-repeat;
}
div.phonring-alo-zalo {
    background-image: url(../../images/zalo.png);
}
.button-contact a, .phonring-alo-phone a {
    display: block;
    height: 50px;
    line-height: 55px;
    z-index: 99;
}

/*  */
.quantity {
    position: relative;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]
  {
    -moz-appearance: textfield;
  }

  .quantity-button.quantity-up, .quantity-button.quantity-down{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    width: 30px;

    color: #fff;
    font-size: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 38px;
  }

  #amount{
    margin: 0 auto;
    text-align: center;
  }

  .quantity-button.quantity-up {
    right: 8px;
  }

  .quantity-button.quantity-down {
    left: 8px;
  }


/* modal */
.modal-dialog{
    top: 20%;
}

.modal-body h4{
    text-align: center;
}

.modal-content{
    background: linear-gradient(180deg, rgba(60,191,0,1), rgb(63, 160, 18));
    border-radius: 20px;
}
.modal-footer{
    border: none;
}
.close{
    color: #fff;
}
#order-product {
    padding: 10px 15px;
}
#order-product input,#order-product select,#order-product button{
    width: 100%;
    height: auto;
    outline: none;
    border:1px solid rgb(255, 255, 255);
    background-color:#fff;
    box-shadow: none;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}
#order-product button{
    border: none;
    background: linear-gradient(180deg, #ffe259, #ffa751);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    margin: 20px 0;
}
#order-product ::placeholder {
    font-size: 14px;
}

.table td{
    border: none;
    padding: 8px;
}


.scroll-to-top {
    background-color: #2b72b0;
    border: none;
    border-radius: 50%;
    bottom: 53px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 50px;
    text-align: center;
    width: 50px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }



/* mobile */
@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-link{
        font-size: 16px;
    }
 }

@media only screen and (max-width: 768px) {
    .header-top .logo {
        font-size: 20px;
    }
    .header-top .slogan {
        font-size: 15px;
        font-weight: 600;
        align-items: center;
    }
    .navbar{
        display: none;
    }

    .header-top .button-advise {
        padding: 10px 20px;
    }
    .header-bottom{
        height: auto;
    }
    .header-bottom .row{
        flex-direction: column-reverse;
    }
    section{
        padding: 30px 0;
    }
    .image-left{
        width: 90%;
        height: auto;
        overflow: hidden;
   }
    .image-left img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    /* box-icon */
    .shadow-1{
        box-shadow: unset;
    background-color:transparent;
    border-radius: unset;
    padding: 0px;
    }
    .box-icon{
        box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding:20px;
        margin: 10px 0;
    }
    /*  */
    #sec_problem .image-box{
        width: 100%;
    }
    /* product */
    .product-items .product-text .box-price span.price{
        margin-left: 10px;
        font-size: 40px;
    }
    .product-items .product-text .box-price span{
        font-size: 17px;
    }
    /* video */
    #sec_share-expert .name-expert{
        margin: 10px 0 20px;
    }
    /* feedback */
    #sec_feedback .feed-back .avatar{
        min-width: 70px;
        height: 70px;
    }
    #sec_feedback .feed-back .comment{
        max-width: 100%;
        max-height: auto;
    }
    #sec_feedback .feed-back .star svg{
        width: 20px;
    }
    #sec_feedback .feed-back .assess{
        flex-direction: column;
    }
    .modal.show{
        padding-right: 0px !important;
    }
    #order-product{
        padding: 10px 0;
    }
    #time-sale{
        padding: 10px 0px !important;
    }
    .contact {
        padding: 16px !important;
    }
    .iframe-yt {
        padding-top: 16px !important;
    }

    footer img {
        width: 20%;
    }

    .user-info li img{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 991.98px) {
    .modal-body .row{
        flex-direction: column-reverse;
    }
    .table td{
        border: none;
        padding: 4px;
    }
    .quantity-button.quantity-up {
        right: 4px;
      }

      .quantity-button.quantity-down {
        left: 4px;
      }

      .box-order {
        text-align: center;
      }
 }

/* animation */
.animation-shake{
    animation-name: shake;
    -webkit-animation-name: shake;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.animation-pulse{
    animation-name: pulse;
    animation-delay: 0.2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.animation-flash{
    animation-name: flash;
    -webkit-animation-name: flash;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes pulse{
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes shake{
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes flash{
    0%, 100%, 50% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}
.iframe-fb, .iframe-yt {
    padding-top: 100px;
    text-align: center;
}
.contact {
    color: #222;
    padding: 100px 0;
}
footer .line-title {
    height: 2px;
    width: 100px;
    background-color: #fff;
    margin: 10px auto;
}

.rounded-circle, .rounded-circle img {
    border-radius: 50% !important;
}
 